<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/styles.css">
  </head>
<body>
  <h1><%= header %></h1>
  <form action="<%= action %>" method="POST">
    <p>
      <label for="bookID">Book id: <input type="text" name="bookID"></label>
    </p>
    <button type="submit">Submit</button>
    <a href="/"><button>Menu</button></a>
  </form>
  
</body>
</html>