<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
  <main>
    <h1>Books</h1>
    <a href="/all"><button>Get all books</button></a>
    <a href="/getone"><button>Get one book</button></a>
    <a href="/insertform"><button>Add book</button></a>
    <a href="/updateform"><button>Update book data</button></a>
    <a href="/remove"><button>Remove book</button></a>
  </main>
  
</body>
</html>