<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games database</title>
  <link rel="stylesheet" href="/dist/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;300&family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <main class="container">
    <h1>Welcome to game database</h1>
    <h3>Search for your favorite console and PC games and discover new acquitances</h3>
    <h2>Let's start!</h2>
    <div>
      <a href="/all"><button class="btn">Get all games</button></a>
    </div>
    <div>
      <a href="/getone"><button class="btn">Search a game</button></a>
    </div>
    <div>
      <a href="/insert"><button class="btn">Insert</button></a>
    </div>
    <div>
      <a href="/update"><button class="btn">Update</button></a>
    </div>
    <div>
      <a href="/remove"><button class="btn ">Remove</button></a>
    </div>
    <div class="attributes"><span>Photo by <a href="https://unsplash.com/@andreas_haslinger?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Andreas Haslinger</a> on <a href="https://unsplash.com/s/photos/gamer?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></div>
  </main>  
</body>
</html>