<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games database</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <main>
    <h1>Games</h1>
    <div>
      <a href="/all"><button>Get all games</button></a>
    </div>
    <div>
      <a href="/getone"><button>Search a game</button></a>
    </div>
    <div>
      <a href="/insert"><button>Insert</button></a>
    </div>
    <div>
      <a href="/update"><button>Update</button></a>
    </div>
    <div>
      <a href="/remove"><button>Remove</button></a>
    </div>
  </main>
  
</body>
</html>