<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status</title>
  <link rel="stylesheet" href="/dist/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;300&family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <main class="container">
    <div class="<%= status.type %>">
      <% if(status.type == 'error') { %> 
        <h1>Error</h1>
      <% } else { %>
        <h1>Status</h1>
      <% } %>
      <p><%= status.message %></p>
    </div>
    <a href="/"><button class="btn">Back to homepage</button></a>
  </main>
</body>
</html>